.add-form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.add-form-btn {
	margin-left: auto;
	color: #ffffff;
	background-color: #3adbc6;
}

.form-control {
	margin-top: 8px;
	border: 1px rgba(29, 41, 44, 0.192) solid;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: rgb(31, 25, 25, 0.3) 1px 1px 5px;
}
